html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
body{
    max-width: 1600px;
    margin: auto;
    color: #444444;
    background-color: #f7f7f7;
    font-size: 30px;
    font-family: sans-serif;
}
.bold {
    font-weight: bold;
}
header{
    background-color: #3c6084;
}
nav{
    padding: 5px 5px 0 0;
    max-width: 1600px;
    margin: auto;
}
#burger{
    display: none;
}
nav ul{
    display: flex;
    justify-content: right;
}
nav li{
    list-style-type: none;
    padding-left: 50px;
}
h1{
    font-family:'Oswald', sans-serif;
    padding: 51px 0;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}
span{
    font-size: 25px;
}
#formulaire input[type=text],input[type=tel],input[type=email], input[type=password], textarea{
    width: 90%;
    font-size: 20px;
    padding: 15px;
    font-family: sans-serif;
}
input[type=radio], input[type=checkbox]{
    margin: 15px;
}
input[type=date]{
    width: 90%;
    font-size: 20px;
    padding: 10px;
    color: #444444;
}
#formulaire form label{
    float: left;
    width: 90%;
    margin: 20px;
}
form{
    margin-bottom: 55px;
}
p{
    padding-bottom: 10px;
}
button{
    cursor: pointer;
}
a{
    text-decoration: none;
    float: right;
    color: #fff;
    font-size: 20px;
}
a.btn-action {
    float: none;
    color: #3c6084;
    cursor: pointer;
    margin: 0 15px;
}
.list-site {
    list-style: none;
}
a.site-link {
    float: none;
    color: #3C6084;
    font-size: 30px;
}
a.site-link:hover {
    text-decoration: underline;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}
table {
    margin: 0 auto;
}
tr {
    width: 70%;
}
td {
    width: 33%;
    height: 40px;
}
#empty-td {
    height: 50px;
}
.btn{
    width: 40%;
    padding: 20px;
    text-transform: uppercase;
    border: none;
    background: #ffc107;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}
.btn-profil {
    width: 30%;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    background: #ffc107;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.span{
    width: 90%;
}
#landing{
    background-color: #ffc107;
    border: solid #3c6084;
    border-width: 0 0 30px 0;
    margin-bottom: 25px;
}
#formulaire{
    padding-left: 60px;
}
#role {
    width: 93%;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 15px;
    color: #444444;
}
#monselect-site{
    width: 94%;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 15px;
    color: #444444;
}
#monselect-object{
    width: 94%;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 15px;
    color: #444444;
}
#monselect-hours{
    width: 93%;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 60px;
    color: #444444;
}
#buttons {
    width: 100%;
    margin-bottom: 55px;
    display: flex;
}
#buttons span{
    margin: 20px 35px;
}
#speedcall{
    bottom: 2%;
    left: 3px;
    font-size: 20px;
    color: #fff;
    background-color: #3c6084;
    border: 0;
    text-align: center;
}
#speedcall p{
    padding: 0;
}
#contact{
    max-width: 1200px;
    margin: 0 auto
}
#add-button{
    position: fixed;
    bottom: 2%;
    right: 3px;
    font-size: 20px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    background-color: #008000;
    border: 0;
    z-index: 1;
}
#add-button:hover{
    background-color: #008000be;
}
#para{
    font-size: 20px;
    color: rgb(255, 0, 0);
}
#croix-rouge{
    color: red;
}
.div-btn-info{
    width: 97%;
    margin: auto;
}
.btn-info{
    width: 88%;
    padding: 20px;
    text-transform: uppercase;
    border: none;
    background: #ffc107;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
}

.alert {
    padding: 10px;
    color: white;
    text-align: center;
}
.success {
    background-color: #3F9E3F;
    width: 87%;
}
.error {
    background-color: red;
    width: 87%;
}


#pagination ul{
    padding-top: 25px;
    margin-bottom: 70px;
    justify-content: center;
}
.page-link{
    color:#fff;
    padding: 5px;
    background-color: #3c6084;
}
#pagination li{
    padding: 0;
    margin: 9px;
}
.page-link-page{
    color:#3c6084;
    padding: 5px;
}
#pageItem[disabled]{
    color:black;
}

@media screen and (max-width: 1024px){
    body{
        font-size: 20px;
    }
    h1{
        padding: 35px 0;
        font-size: 35px;
    }
    .btn-info{
        font-size: 15px;
    }
    #monselect-object{
        font-size: 15px;
    }
    #monselect-hours{
        font-size: 15px;
        margin-bottom: 15px;
    }
    #formulaire {
        padding-left: 75px;
    }
    .contact-phone{
        width: 77%;
        top: 45px;
    }
    #add-button{
        width: 50px;
        height: 50px;
    }
    #buttons{
        flex-direction: column;
    }
    #speedcall{
        width: auto;
    }
    .btn{
        width: auto;
    }
    .div-btn-info{
        margin: 25px;
    }
    span{
        font-size: 20px;
    }
    input[type=date]{
        font-size: 16px;
    }
    input[type=text], input[type=tel], input[type=email], input[type=password], textarea{
        font-size: 16px;
    }
    a.site-link {
        font-size: 20px ;
    }
    #burger{
        display: block;
        padding-left: 5px;
        z-index: 2;
        width: 5%;
    }
    nav{
        display: flex;
        justify-content: flex-end;
    }
    nav ul{
        display: none;
        width: 77%;
        z-index: 1;
        flex-direction: column;
        background-color: #3c6084df;
        position: absolute;
        right: 0;
    }
    nav ul li{
        padding: 25px;
        margin: 13px;
    }
    nav ul li a{
        font-size: 20px;
    }
}  

@media screen and (max-width: 620px){
    a{
        font-size: 15px;
    }
    nav li{
        padding-left: 18px;
    }
    #formulaire {
        padding-left: 0;
    }
    #burger{
        width: 7%;
    }
}
@media screen and (max-width: 420px){
    #burger{
        width: 9%;
    }
    
}
